@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pinyon+Script&display=swap');

body{
    font-family: "Inter", sans-serif;
}
/* navbar design */
header{
    width: 1440px;
height: 715px;
margin-left: auto;
margin-right: auto;
background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.nav-content{
    width: 1440px;
    background-color: black;
   
}
.navbar{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100px;
margin-left: auto;
margin-right: auto;
}
.nav-title{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;  
}
.nav-list{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    width: 465px;
    height: 46px; 
    box-sizing: border-box;
   
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
display: flex;
align-items: center;
text-decoration: none;
list-style: none;
gap: 34px;
}
.nav-item{
    border-radius: 46px;
    background: rgb(230, 83, 60); 
    width: 90px;
height: 30px;  
padding-left: 38px;
padding-top: 8px;
}
/* banner design */
.banner-content{
   
    background-color: black;
    margin-top: -20px;
    color: rgb(255, 255, 255);
  padding-left: 190px;
 display: flex;
 gap: 80px;
}
.banner-container{
    width: 600px;
height: 440px;

}
.banner-container h1{
    width: 520px;
height: 282px;
font-size: 68px;
}
#banner-title{
    font-family: "Pinyon Script", cursive; 
    font-weight: 400px;  
}
.banner-description{
    width: 520px;
    height: 28px;
    margin-top: -70px;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
}
.banner-button{
    color: rgb(255, 255, 255);
    width: 472px;
height: 54px;
gap: 10px;
margin-top: 28px;
}
.btn-primary{
    width: 131px;
height: 54px;
    border-radius: 42px;
    border: none;
background: rgb(230, 83, 60);
}
.btn-secondary{
    width: 131px;
    height: 54px;
        border-radius: 42px;
        border: none; 
}
.banner-card{
    display: flex;
}
.banner-card1{
   width: 190px;
   height: 90px; 
   border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
margin-top: -170px;
margin-left: -100px;
align-items: center;
}
.banner-card1 button{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    margin-top: 25px;
}
.banner-card1 h5{
    font-size: 24px;
 margin-top: -50px;
 margin-left: 75px;
}
.banner-card1 p{
    color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
margin-top: -35px;
margin-left: 55px;
}
.banner-card2{
    width: 190px;
height: 93px;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
margin-top: -460px;
margin-left: 140px;
}
.banner-card2 h3{
    font-family: Inter;
font-size: 40px;
font-weight: 900;
margin-top: 10px;
margin-left: 50px;

}
.banner-card2 p{
    font-size: 13px;
font-weight: 400;
margin-top: -30px;
margin-left: 40px;
}
/* habits design */
.habit{
    width: 1044px;
    margin-left: auto;
    margin-right: auto;
}
.habit-container{
  text-align: center; 
  width: 671px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}
.habits-content{
    width:1440px;
    height: 652px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: -90.5px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
   
}
.fitness-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.habit-img{
    display: flex;
    margin-top: 200px;
justify-content: space-around;
text-align: center;
}
.fitness-img{
    border-radius: 50%;
}
.habit-img h6{
    font-size: 18px;
font-weight: 600;
}
.habit-img p{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-top: -30px;
}
/* run styles */
.run-content{
background-color: black;
width: 1440px;
height: 471px;
display: flex;
margin-left: auto;
margin-right: auto;
}
.run-and-fitness{
    width: 1060px;
    height: 371px;
    border-radius: 18px;
background: rgb(34, 34, 34);
display: flex;
gap: 150px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;

}
.run-description{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-top: -29px;
}
.run-container{
    width: 443px;
    height: 202px; 
    padding-left: 54px;
}
.run-container button{
    margin-top: 20px;
    width: 150px;
}
#run-img{
    border-radius: 18px;
    padding-top: 30px;
}
.bmi-content{
    width: 1440px;
height: 286px;
background-color: black;
margin-top: -90px;
margin-left: auto;
margin-right: auto;
}
.bmi-container{
    width: 671px;
height: 130px;


margin-left: auto;
margin-right: auto;
}
.bmi-container h2{
    padding-top: 88px;
}
.bmi-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400; 
  margin-top: -20px;
}
.bmi-calculation{
    width: 1440px;
    height: 530px;
    background: rgb(34, 34, 34);
    rgb(34, 34, 34);
display: flex;
margin-top: 150px;
justify-content: center;

}

.Calculator{
    width: 400px;
    height: 220px;
    margin-top: 150px;
    gap: 20px;
    
}
.Calculator h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
}
table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
   
}
th{
    color: white;
    font-weight: 500px;
}
td{
    color: rgba(255, 255, 255, 0.5);
}

.BMi h3{
    color: rgb(255, 255, 255);
   
    font-size: 28px;
    font-weight: 900;
}
.bmi-calculator{
   
    width: 577px;
height: 500px;


}
.BMi p{
    color: rgba(255, 255, 255, 0.5);

font-size: 14px;
font-weight: 400;
}
.bmi-list{
    display: grid;
    grid-template-columns: 283px;
    max-width: 580px;
}
.bmi-list ul{
    list-style: none;
    color:rgba(255, 255, 255, 0.6);
font-family: Inter;
font-size: 16px;
font-weight: 400;

}
.bmi-list li{
    width: 283px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    align-items: center;
   font-size: 16px;
   font-weight: 4 00px;
  
   
}
.bmi-list select{
    
    width: 283px;
    height: 50px;
    color:rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-left: 40px;
    background-color: rgb(34, 34, 34);
}
.bmi-list button{
    margin-top: 10px;
    margin-left: 40px;
    width: 200px;
}
/* team-styles */
.team-content{
    background-color: black;
    max-width: 1440px;
    height: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 524px;
}

.trainer-team{
margin-top: 100px;
padding-top: 50px;
width: 621px;
height: 120px;
margin-left: auto;
margin-right: auto;
align-items: center;

}
.trainer-team h2{
    padding-left: 154px;
}
.team-container{
margin-left: auto;
margin-right: auto;
height: 580px;
width: 1060px;
margin-top: 100px;
display: grid;
grid-template-columns: 327px 327px 327px;
grid-gap: 3px;
padding-top: 15px;
justify-content: space-evenly;
border-radius: 18px;
background: rgba(255, 255, 255, 0.1);
}
.team-container img{
   width: 327px; 
   height: 272px;
   border-radius: 18px;

}

.team-container h5{
color: rgb(255, 255, 255);
font-size: 20px;
margin-top: -80px;
padding-left: 20px;
}
.team-container p{
color: rgba(255, 255, 255, 0.5);
margin-top: -20px;
padding-left: 20px;
}
/* footer-styles */
.footer{
    display: flex;
    justify-content: space-around;
    width: 1440px;
height: 359px;
background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.footer-ttle{
   color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 80px;
  margin-top: 20px;

}
.footer-fitness{
    width: 443px;
    height: 200px;
    
}
.footer-fitness p{
    color: rgba(255, 255, 255, 0.5);
     font-size: 14px;
    font-weight: 400; 
    padding-top: -150px;
}
.fitness-contact{
  
   width: 181px;
height: 249px;
}
.fitness-contact h4{
    color: rgb(255, 255, 255);
    font-size: 32px;
font-weight: 700px;
}
.fitness-contact ul{
    color: rgba(255, 255, 255, 0.5);
    
    font-size: 23px;
    font-weight: 400;
    list-style: none;
    padding-left: 0;
  
}

.fitness-address p{
   
  color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700px;
    background-color: black;
margin-left: auto;
margin-right: auto;
    max-width: 1440px;
    height: 100px;
   align-items: center;
   margin-top: -10px;
   text-align: center;    
}
/* responsive media query */

@media screen and (max-width: 576px) {
.navbar, 
.banner-content, 
.banner-card,
.habit-img,
.footer,
.bmi-calculation,
.footer{
    flex-direction: column;
}
.nav-list{
    padding-bottom: 70px;
   
}

.banner-card2{
margin-left: 200px;

}
.habits-content{
    margin-top: 450px;
    margin-left: -300px;
    height: 1490px;
}
.run-and-fitness{
    flex-direction: column;
   
}
.run-content{
    margin-top: -10px;
    height: 780px;
}
.bmi-container{
    margin-left: 150px;
}
.bmi-calculation{
    height: 850px;
   padding-left: 150px;

}
.team-content{
    margin-top: 840px;
    width:576px;
    
}
.footer{
    height: 1000px;
    margin-top: 950px;
}
.team-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

}   


  






